
/* CSS PARA EL FORMULARIO DE REGISTRO */
body{
    background-color: #525252;
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 0, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}